<div class="course-card" [ngClass]="cardClasses()" [ngStyle]="courseTitleStyles()" *ngIf="course; else noCourse">

  <div class="course-title">
    {{course.description}}
  </div>


  @if (course.iconUrl) {
  <img [src]="course.iconUrl" [alt]="course.description" width="400">
  }@else {
  <h3>No Image Available</h3>
  }

  <div class="course-description">
    {{course.longDescription}}
  </div>

  <div class="course-category">
    @switch (course.category) {

    @case ('BEGINNER') {

    <div class="category">BEGINNER</div>

    }

    @case ("INTERMEDIATE") {
    <div class="category">Intermediate</div>
    }

    @case ("ADVANCED") {
    <div class="category">Advanced</div>
    }

    @default {
    <div class="category">UnKnown</div>
    }

    }
  </div>

  <button style="cursor: pointer;border: none;" type="button" (click)="onCourseViewed()">View Course</button>

</div>

<ng-template #noCourse>
  <h2 style="text-align: center;">No Course Available</h2>
</ng-template>