<div class="top-menu">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>
<div class="courses">
  <!-- @for(course of courses; track $index;let first=$first; let last=$last){
  <course-card [class.is-first]="first" [class.is-last]="last" [course]="course"
  (courseSelected)="onCourseSelected($event)"></course-card>
}
@empty {
<h1>No Courses Found</h1>
} -->
  @for (course of courses; track course; let first = $index; let last = $last; let count = $count) {
  <div>
    <course-card [course]="course" [class.even]="first % 2 === 0"></course-card>
  </div>
  }
</div>